<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Website Title</title>

    <link rel="stylesheet" href="{{ "style.css" | asset_url }}">

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    >
  </head>

  <body>
    <section id="" class="creative-showcase--slider">
      <div class="banner-horizental">
        <div class="swiper swiper-container-h">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="https://inajewels.com/collections/rings">
                <div
                  class="slide-bg overla-dark"
                  style="
                    background-position: bottom;
                    background-image: url(https://cdn.shopify.com/s/files/1/0617/2760/4809/files/slider-update.jpg?v=1727116667);
                  "
                  data-swiper-parallax="1152"
                >
                  <div class="slide-container">
                    <div class="slide-row">
                      <div class="slider-content">
                        <h6 class="slide-subtitle" data-swiper-parallax="-1000"></h6>
                        <!--
                          <h1 class="slide-heading" data-swiper-parallax="-2000"> <a href="https://www.fiverr.com/aliali44"><span>Blue Adobe MAX</span></a> </h1>
                        -->
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="https://inajewels.com/collections/bangles">
                <div
                  class="slide-bg "
                  style="
                                        background-image: url(https://cdn.shopify.com/s/files/1/0617/2760/4809/files/s_1_ddecd3a0-cc62-498a-8af7-517b84da96bf.jpg?v=1719493657); background-position: center;
                  "
                  data-swiper-parallax="1152"
                >
                  <div class="slide-container">
                    <div class="slide-row">
                      <div class="slider-content">
                        <h6 class="slide-subtitle" data-swiper-parallax="-1000"></h6>
                        <h1 class="slide-heading" data-swiper-parallax="-2000">
                          <a href="https://www.fiverr.com/aliali44"><span></span></a>
                        </h1>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <!--
              <div class="swiper-slide">
                <div
                  class="slide-bg "
                  style="
                    background-image: url(https://cdn.shopify.com/s/files/1/0617/2760/4809/files/WhatsApp_Image_2024-09-10_at_10.32.04_31306be8.jpg?v=1726037249); background-position: center;

                  "
                  data-swiper-parallax="1152"
                >
                  <div class="slide-container">
                    <div class="slide-row">
                      <div class="slider-content">
                        <h6 class="slide-subtitle" data-swiper-parallax="-1000"></h6>
                        <h1 class="slide-heading" data-swiper-parallax="-2000">
                          <a href="https://www.fiverr.com/aliali44"><span></span></a>
                        </h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            -->
            <div class="swiper-slide">
              <a href="https://inajewels.com/collections/bracelets">
                <div
                  class="slide-bg overla-dark"
                  style="
                    background-position: center;
                    background-image: url(https://cdn.shopify.com/s/files/1/0617/2760/4809/files/s_2_564eff48-8e36-44c1-bb48-ce1311e5a0f6.jpg?v=1719493657);
                  "
                  data-swiper-parallax="1152"
                >
                  <div class="slide-container">
                    <div class="slide-row">
                      <div class="slider-content">
                        <h6 class="slide-subtitle" data-swiper-parallax="-1000"></h6>
                        <!--
                          <h1 class="slide-heading">
                          <a href="https://www.fiverr.com/aliali44">
                            <span data-swiper-parallax="-2000">Earthmade</span>
                            <br>
                            <span data-swiper-parallax="-3000">Aroma box</span>
                          </a> </h1>
                        -->
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="https://inajewels.com/collections/necklaces">
                <div
                  class="slide-bg overla-light"
                  style="
                    background-position: center;
                    background-image: url(https://cdn.shopify.com/s/files/1/0617/2760/4809/files/s_4_3ef718c9-a56c-4981-bdef-662fb1f6764e.jpg?v=1719493657);
                  "
                  data-swiper-parallax="1152"
                >
                  <div class="slide-container">
                    <div class="slide-row">
                      <div class="slider-content">
                        <h6 class="slide-subtitle" data-swiper-parallax="-1000"></h6>
                        <!--
                          <h1 class="slide-heading"> <a href="https://www.fiverr.com/aliali44">
                            <span data-swiper-parallax="-2000">Access Bank</span>
                            <br>
                            <span data-swiper-parallax="-3000">Rebranding</span>
                          </a> </h1>
                        -->
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="https://inajewels.com/collections/solitaire">
                <div
                  class="slide-bg overla-light"
                  style="
                    background-position: center;
                    background-image: url(https://cdn.shopify.com/s/files/1/0617/2760/4809/files/s_5_8f98dde2-0139-4d6d-9cb9-538e01547e12.jpg?v=1719493658);
                  "
                  data-swiper-parallax="1152"
                >
                  <div class="slide-container">
                    <div class="slide-row">
                      <div class="slider-content">
                        <h6 class="slide-subtitle" data-swiper-parallax="-1000"></h6>
                        <!--
                          <h1 class="slide-heading"> <a href="https://www.fiverr.com/aliali44">
                            <span data-swiper-parallax="-2000">Access Bank</span>
                            <br>
                            <span data-swiper-parallax="-3000">Rebranding</span>
                          </a> </h1>
                        -->
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="swiper-slide">
              <a href="https://inajewels.com/collections/mens-rings">
                <div
                  class="slide-bg overla-dark"
                  style="
                    background-position: center;
                    background-image: url(https://cdn.shopify.com/s/files/1/0617/2760/4809/files/s_3_0682010f-e650-41c0-8061-44c9866a74df.jpg?v=1719493658);
                  "
                  data-swiper-parallax="1152"
                >
                  <div class="slide-container">
                    <div class="slide-row">
                      <div class="slider-content">
                        <h6 class="slide-subtitle" data-swiper-parallax="-1000"></h6>
                        <!--
                          <h1 class="slide-heading" data-swiper-parallax="-2000"> <a href="https://www.fiverr.com/aliali44"><span>The joy of music</span></a> </h1>
                        -->
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <!--
              <div class="swiper-slide">
                <div class="slide-bg overlay-dark" style="background-image: url(https://imgpanda.com/upload/ib/gCzPpwgzAw.png);" data-swiper-parallax="1152">
                  <div class="slide-container">
                    <div class="slide-row">
                      <div class="slider-content">
                        <h6 class="slide-subtitle" data-swiper-parallax="-1000">© Creative Salahu</h6>
                        <h1 class="slide-heading"> <a href="https://www.fiverr.com/aliali44">
                            <span data-swiper-parallax="-2000">Abstract</span>
                            <br>
                            <span data-swiper-parallax="-3000">Animation Video</span>
                          </a> </h1>
                      </div>
                    </div>
                  </div>
                  <div class="video-container">
                    <video autoplay="" loop="" muted="" baba-icon="yes">
                      <source src="https://ui-themez.smartinnovates.net/items/infolio/Infolio/assets/imgs/works/full/vid.mp4" type="video/mp4">
                    </video>
                  </div>
                </div>
              </div>
            -->
          </div>

          <div></div>

          <div style="width:500px" class="swiper-button-wrapper creative-button--wrapper">
            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide">
              <div>
                <!-- <span>Next</span> -->
              </div>
              <div style="width:36px;height:36px;border:solid 4px;display:flex;align-items:center,justify-content:center;padding:6px 8px 8px 8px;border-radius:36px">
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide">
              <div style="width:36px;height:36px;border:solid 4px;display:flex;align-items:center,justify-content:center;padding:6px 8px 8px 8px;border-radius:36px">
                <i class="fas fa-chevron-left"></i>
              </div>
              <div>
                <!-- <span>Prev</span> -->
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>

    {% render 'slider1' %}

    <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script defer src="{{ "main.js" | asset_url }}"></script>
  </body>
</html>
